@model IEnumerable<tryno2.Models.Course>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    @*Custom fonts for this template*@
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    @*Custom styles for this template*@
    <link href="css/sb-admin-2.min.css" rel="stylesheet">




    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="~/students/login">home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">logout <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/students/Edit">Sittings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            department
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                            <a class="dropdown-item" href="#">SWT & QA</a>
                            <a class="dropdown-item" href="#">Free Lancing</a>
                            <a class="dropdown-item" href="#">Al & Deep Learning</a>
                            <a class="dropdown-item" href="#">Front_end Devolpment</a>
                            <a class="dropdown-item" href="#">Cyber Securirty</a>
                            <a class="dropdown-item" href="#">BlockChain</a>

                        </div>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0" method="post" action="search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchtext">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        @RenderBody()

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>